* {
    margin: 0;
    padding: 0;
   }

.main-menu-cal{
display: grid;
grid-template-columns: 200px auto;
}
#menu{
 
 font-size: 20px;
background-color: rgb(145, 168, 168);
}


#calendar-event{
    display: grid;
    grid-template-columns:  auto 400px;
}
.event-menu{
   display: block;
   position: fixed;
   transition: all 0.3s;
   width: 400px;
   top: 50px;
   right: -400px;
   overflow: visible;
   bottom: 0;
   z-index: 999;
   background-color: blue;
  
}

.wrap-menuin{
    display: block;
    position: absolute;
    transition: all 0.3s;
    top:350px;
    bottom: 0;
    right: 400px;
    height: 100px;
    width:15px;
    background-color:white;
    border:solid;
    
    align-items: center;
    z-index: 999;

}


.tough:checked + .wrap-menuin{
    right: 400px;
}

.tough:checked ~ .event-menu{
   right: 0px;
}

.tough{
   display: none;

}
.wrap-menu:hover{
    background-color: bisque;
}
#menu{
    grid-template-columns: 200px;
    display: grid;
}
#menu ul li{
    list-style-type: none;
    
    border-width: 2px;
    background-color: aquamarine;
    border-style: solid;
}
#menu ul li a{
    text-align: center;
    
    display: block;
}
#menu ul li:hover{
    background-color: aqua;
}
#menu ul li a img{
    width: 70px;
    height: 70px;
}



.details tr th{
    background-color: #6c7ae0;
    border: solid 2px;
}


.detail-event{
    display: grid;
    grid-template-rows:  50px auto;

}
.table-details{
    margin-left: 30px;
}

button {
    border: 2px solid;
    color: black;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
  }

  li.menugroup{

    float:left;
  }
  li.menugroup  {
      display: inline-block;
      color: red;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  li.menugroup:hover{
    display: inline-block;
    color: white;
    background-color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  div.group{
      display: grid;
  }